svg .pumpkin {
  fill: yellow;
  stroke: orange;
  stroke-width: 3;
}

.bar {
  color: #ffffff;
  background-color: teal;
  width: 20px;
  height: 75px;
  margin-right: 10px;
  display: inline-block;
}

div.lab {
  margin: 10px;
  font-size 20px;
  color: #000;
  padding: 10px;
  background-color: gold;
  font-family: sans-serif;
  border-style: solid;
  border-width: 1px;
  /*height: 30px;*/
  /*width: 0px;*/
}
